@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Bold.woff2") format("woff2"), url("/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Regular.woff2") format("woff2"), url("/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"), url("/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  background: #FBF8EC;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex: 1;
  background: #FBF8EC;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 16px 0;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  background: #FFF;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.header__logo2 {
  display: none;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.header__left-btn {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  background: #70C05B;
  padding: 4px 8px;
  color: #FFF;
  line-height: 150%;
  margin-left: 5px;
  cursor: pointer;
}
.header__left-btn img {
  margin-right: 8px;
}
.header__left-link {
  color: #FFF;
  text-align: center;
  line-height: 150%;
}
.header__left-item {
  width: 360px;
  display: flex;
  padding: 5px 8px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #70C05B;
}
.header__left-item label {
  margin-right: 8px;
  margin-left: auto;
}
.header__left-search {
  outline: none;
  border: none;
  width: 100%;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__right-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #414141;
  font-family: Rubik;
  font-size: 12px;
  line-height: 150%;
}
.header__right-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #232323;
  font-size: 16px;
  line-height: 150%;
  margin-right: 10px;
}
.header__catalog {
  margin-top: 76px;
  background-color: #fff;
  display: none;
  z-index: 99;
  height: 250px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 40px 0;
}
.header__catalog-link {
  color: #414141;
  font-weight: 700;
  line-height: 150%;
  transition: all 0.5s;
}
.header__catalog-link:hover {
  color: #F63;
}
.header__catalog-open {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1080px) {
  .header__logo {
    display: none;
  }
  .header__logo2 {
    display: block;
  }
  .header__left-btn {
    padding: 8px;
    height: 40px;
    width: 40px;
  }
  .header__left-btn-title {
    display: none;
  }
  .header__left-item {
    width: 325px;
  }
  .header__right {
    gap: 16px;
  }
  .header__right-profile-title {
    display: none;
  }
  .header__right-profile-img {
    display: none;
  }
}
@media only screen and (max-width: 708px) {
  .header__left-btn {
    display: none;
  }
  .header__left-item {
    width: 260px;
  }
  .header__right {
    display: none;
  }
}
.discount__container {
  padding-top: 40px;
}
.discount__intro {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.discount__intro-title {
  color: #414141;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}
.discount__intro-link {
  color: #606060;
  line-height: 150%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}
.discount__cards {
  display: flex;
  gap: 40px;
  padding-bottom: 120px;
}
.discount__card {
  max-width: 272px;
  border-radius: 4px;
  background: #FFF;
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.discount__card:hover {
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.discount__card-img {
  width: 100%;
  margin-bottom: 8px;
}
.discount__card-discount {
  position: absolute;
  padding: 4px 8px;
  border-radius: 4px;
  background: #F63;
  width: 60px;
  color: #FFF;
  line-height: 150%;
  top: 122px;
}
.discount__card-discounts {
  display: flex;
  justify-content: space-between;
}
.discount__card-discounts-price {
  color: #414141;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.discount__card-discounts-price2 {
  color: #606060;
  line-height: 150%;
}
.discount__card-discounts-text {
  color: #BFBFBF;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 8px;
}
.discount__card-description {
  color: #414141;
  line-height: 150%;
  margin-bottom: 8px;
}
.discount__card-rating {
  margin-bottom: 8px;
  margin-top: auto;
}
.discount__card-btn {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #70C05B;
  background-color: #fff;
  color: #70C05B;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: auto;
}
.discount__card-btn:hover {
  border: 1px solid #F63;
  color: #fff;
  background: #F63;
  box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
}

.products__container {
  margin-top: 100px;
}
.products__link {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 24px;
}
.products__link-item1 {
  color: #414141;
  font-size: 12px;
  line-height: 150%;
}
.products__link-item2 {
  color: #8F8F8F;
  font-size: 12px;
  line-height: 150%;
}
.products__pagination {
  display: flex;
  gap: 20px;
}
.products__pagination button {
  cursor: pointer;
}
.products__pagination-active {
  background-color: cyan;
}
.products__pagination-prewious {
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
}
.products__pagination-btn {
  border: none;
  padding: 5px;
  border-radius: 4px;
}
.products__pagination-next {
  padding: 5px 24px;
  border: none;
  border-radius: 4px;
}/*# sourceMappingURL=products.css.map */